<div class="grid-container">


    <h1 class="titulo-card">Cadastrar Atendimento</h1>


    <mat-divider class="divider"></mat-divider>


    <div *ngIf="isLoading; else formTemplate">
        <div class="spinner-container">
            <mat-progress-spinner [diameter]="50" mode="indeterminate"></mat-progress-spinner>
            <p>{{ loadingMessage }}</p>
        </div>
    </div>

    <!-- Condicional para exibir o spinner ou o formulário -->
    <ng-template #formTemplate>

        <div *ngIf="!this.pet">
            <button mat-raised-button color="primary" aria-label="Adicionar um pet" (click)="adicionarPet()"
                class="action-column-header">
                Adicionar Pet +
            </button>

        </div>

        <div *ngIf="this.pet">

            <h2>Dados do Pet</h2>

            Nome: {{ this.pet.nome}}<br>
            Raça:{{ this.pet.raca.descricao}}<br>
            Data de Nascimento:{{ this.datePipe.transform(this.pet.dataNascimento, 'dd/MM/yyyy', 'America/Sao_Paulo')}}<br>
            Tutor:{{ this.pet.cliente?.nome}}

        </div>

        <form class="full-widith" [formGroup]="formAtendimento">


            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="10px">

                <!-- Descrição da Loja -->
                <mat-form-field class="full-width descricao-campo">
                    <mat-label>Descrição do Atendimento</mat-label>
                    <textarea maxlength="3000" matInput formControlName="descricaoAtendimento" name="descricaoAtendimento"
                        #descricao></textarea>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="10px">

                <mat-form-field fxFlex>
                    <mat-label>Valor</mat-label>
                    <input matInput formControlName="valor" name="valor" #valor>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Data do Atendimento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="data" placeholder="dd/MM/yyyy"
                        (blur)="onDateBlur()" [disabled]="true" />
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="formAtendimento.get('data')?.hasError('invalidDate')">
                        Data inválida. Insira no formato dd/MM/yyyy.
                    </mat-error>
                    <mat-error
                        *ngIf="formAtendimento.get('data')?.hasError('required') && formAtendimento.get('data')?.touched">
                        A data de atendimento.
                    </mat-error>
                </mat-form-field>

            </div>


            <button mat-raised-button [disabled]="!formAtendimento.valid || !this.pet" color="primary"
                (click)="onSubmit()">
                Salvar
            </button>
            <button mat-raised-button (click)="voltar()" class="btn-space">
                Cancelar
            </button>

        </form>

    </ng-template>

</div>