.grid-container {
    margin: 20px;
  }

  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: -25px;
    padding-right: 10px;
  }

  .botao-add{
    background-color: rgb(90, 0, 0);
}