.grid-container {
  padding: 20px;
}

.espacamento-toolbar {
  flex: 1 1 auto;
}

.titulo-card{
  padding-bottom: 10px;
}

.divider{
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: rgb(255, 136, 136);
}

table {
  width: 100%;
}

.h5{
  font-style: italic;

}

td {
  padding-right: 8px;
}

.espacamento-toolbar {
  flex: 1 1 auto;
}

.actions-center {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.botao-add{
  background-color: rgb(90, 0, 0);
}
