<div class="grid-container">

    <mat-card tabindex="0">

        <mat-card-header class="titulo-card">
            <mat-card-title class="mat-h1"> {{atendimento.pet.nome}}</mat-card-title>
            <span class="espacamento-toolbar"></span>
        </mat-card-header>

        <mat-card-content>

            <mat-divider class="divider"></mat-divider>

            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <h5>Raça: </h5>
                        <span> {{atendimento.pet.raca.descricao}}</span>
                    </td>
                    <td>
                        <h5>Data do Atendimento: </h5>
                        <span> {{this.datePipe.transform(atendimento.data, 'dd/MM/yyyy', 'America/Sao_Paulo')}}</span>
                    </td>

                    
                    <tr>
                        <td>
                            <h5>Descrição do Atendimento: </h5>
                            <span> {{atendimento.descricaoAtendimento}}</span>
                        </td>
    
                    </tr>

            </table>

            <mat-divider class="divider"></mat-divider>


        </mat-card-content>

        <mat-card-actions class="actions-center">

            <button style="margin-top: 20px;" mat-raised-button (click)="onCancel()" class="btn-space">
                Voltar
            </button>
        </mat-card-actions>
    </mat-card>



</div>