.grid-container {
  margin: 20px;
}

.espacamento-toolbar {
  flex: 1 1 auto;
}

.titulo-card{
  padding-bottom: 10px;
}

.divider{
  margin-bottom: 20px;
  margin-top: 20px;
}

table {
  width: 100%;
}

td {
  padding-right: 8px;
}

.espacamento-toolbar {
  flex: 1 1 auto;
}