.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 210px;
    background: 
      linear-gradient(
        rgba(255, 255, 255, 1.0), 
        rgba(255, 255, 255, 0.8)
      );
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .sidenav .mat-toolbar {
    background: inherit;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .clicado:visited{
    background-color: darkgrey;
  }
  
  .logo-img {
    height: 40px;
}
  
  /* Toolbar */
.mat-toolbar {
  background: linear-gradient(to right, rgb(0, 0, 0) 13%, #7e0000 100%);
  font-size: 1.2rem;
  padding: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

  .titulo-toolbar{
    font-size: 100%;
    margin-left: 40px;
    color: #ffffff;
  
  }

  .icone-menu{
    color: #7e0000;
  }