<h2 mat-dialog-title>Alterar Pet</h2>

<mat-dialog-content>
  <form [formGroup]="petForm">

    <!-- Nome do Pet -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nome do Pet</mat-label>
      <input matInput formControlName="nome" type="nome" required>
      <mat-error *ngIf="petForm.get('nome')?.hasError('invalidNome')">Nome é obrigatório</mat-error>
    </mat-form-field>

    <!-- Data de Nascimento -->
    <mat-form-field>
      <mat-label>Data de Nascimento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dataNascimento"
          placeholder="dd/MM/yyyy" (blur)="onDateBlur()" />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error
          *ngIf="petForm.get('dataNascimento')?.hasError('invalidDate')">
          Data inválida. Insira no formato dd/MM/yyyy.
      </mat-error>
  </mat-form-field>

    <!-- Prazo de Comissão -->
    <mat-form-field fxFlex>
      <mat-label>Raça</mat-label>
      <mat-select formControlName="raca" name="raca" #raca>
          @for (raca of racas; track raca) {
          <mat-option [value]="raca">{{raca.descricao}}</mat-option>
          }
      </mat-select>
  </mat-form-field>


  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">❌ Cancelar</button>
  <button mat-flat-button color="primary" (click)="alterarPet()" [disabled]="petForm.invalid">
    📤 Salvar
  </button>
</mat-dialog-actions>
